body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #fbb1b1, #93c5fd);
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
}

.button-container {
  margin-top: 2rem;
}

.start-button {
  background-color: white;
  color: #f472b6; /* rosa */
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.start-button:hover {
  transform: scale(1.05);
}

.ready-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.question-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
}

.button-group {
  display: flex;
  gap: 2rem; /* Espacio entre los botones */
}

.answer-button {
  background-color: white;
  color: #f472b6; /* rosa */
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}

.answer-button:hover {
  transform: scale(1.05);
}

.result-message {
  margin-top: 2rem;
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.reveal-text {
  font-size: 2rem;
  font-weight: 700;
}

.scroll-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}